<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
  <title>Hillsborough County Consolidated Service Index</title>

  <link rel="stylesheet" href="https://unpkg.com/@hcflgov/vue-html-wrapper@3.0.0/dist/HcHtmlWrapper.css">

</head>
<body>
  <noscript>
    <strong>We're sorry but hc-customer-service-indices doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>

  <main id="hc-main" class="d-flex flex-column">

    <div>
      <div is="hc-navbar"></div>
    </div>

    {% include breadcrumbs.html %}

    {{ content }}

    <div class="container text-center text-muted my-3">
      <em>Figures may vary within a few one hundredths of a point due to rounding.</em>
    </div>

    <footer is="hc-footer" class="mt-auto"></footer>

  </main>


  <!-- <div id="app">
</div> -->

<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://unpkg.com/@hcflgov/vue-html-wrapper/dist/HcHtmlWrapper.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
window.app = new Vue().$mount('#hc-main')
</script>

</body>
</html>
