---
layout: default
---

{% assign report_date = page.date | date: "%Y-%m-%d" %}
{% assign report = site.data.reports | where:"date",report_date | first %}

<div class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-lg-5">
        <h1 class="">
          <small class="d-block">
            {{ page.date | date: "%B" }}'s Service Index
          </small>

          <div class="display-4">
            {{ report.points }}
          </div>
        </h2>

        <p class="lead">
          {{ page.lead }}
        </p>
      </div>
      <div class="col-lg-7">
        <h3>
          What happened in {{ page.date | date: "%B" }}?
        </h3>

        {{ content }}
      </div>
    </div>

    <hr class="bg-dark my-4 pt-1">

    <h3>The Hillsborough County Consolidated Service Index</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="row">
      <div class="col-md-7 mb-3">

        <h4>By Department Index</h4>

        <ul>
          {% for index in report.indices %}
          <li>
            {{ index.name }}
            (<a href="{{ index.url }}" target="_blank" class="hide-external-indicator">{{ index.abbrev }}</a>):
            {{ index.points }}
          </li>
          {% endfor %}
        </ul>

        <h4>By Category</h4>

        <ul>
          {% for category in report.categories %}
          <li>
            {{ category.name }}:
            {{ category.points }}
          </li>
          {% endfor %}
        </ul>

        <!-- {% include graph.html %} -->
      </div>
      <div class="col-md-5 mb-3">

        <h4 class="mt-0">Top 5 contributors of {{ page.date | date: "%B, %Y" }}</h4>

        <ol class="">
          {% for indicator in report.indicators limit: 5 %}
          <li>
            {{ indicator.name }} @ {{ indicator.goal_ratio | times: 100 | round: 2 }}%
          </li>
          {% endfor %}
        </ol>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
window.monthKey = '{{ page.date | date: "%B" | downcase }}'
</script>
